fastapi 
uvicorn
sqlalchemy
passlib
bcrypt
alembic  # library to create migrations
python-multipart #for uploading images 
aiofiles  #performing file operation
python-jose #the javascript object signing and encryption technologies
more-itertools
requests